{% raw %}<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}{% endraw %}{{ cookiecutter.tool_name }}{% raw %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% endblock head %}
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a href="{{ url_for('index') }}" class="navbar-brand">{% endraw %}{{ cookiecutter.tool_name }}{% raw %}</a>
      <ul class="navbar-nav mr-auto">
        <li><a href="https://{% endraw %}{{ cookiecutter.wiki_domain }}{% raw %}/wiki/User:{% endraw %}{{ cookiecutter.user_name | replace(' ', '_') }}/{{ cookiecutter.tool_name | replace(' ', '_') }}{% raw %}" class="nav-link">Documentation</a></li>
        <li><a href="https://tools.wmflabs.org/" class="nav-link">Wikimedia Toolforge</a></li>
        <li><a href="https://phabricator.wikimedia.org/source/tool-{% endraw %}{{ cookiecutter.tool_identifier }}{% raw %}/" class="nav-link">Source code</a></li>
      </ul>
      {{ authentication_area() }}
    </nav>
    <main class="container mt-3">
      {% block main %}
      {% endblock main %}
    </main>
  </body>
</html>{% endraw %}
