{% raw %}<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}{% endraw %}{{ cookiecutter.tool_name }}{% raw %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    {% endblock head %}
  </head>
  <body>
    <a href="#main" class="visually-hidden-focusable">Skip to main content</a>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <a href="{{ url_for('index') }}" class="navbar-brand">{% endraw %}{{ cookiecutter.tool_name }}{% raw %}</a>
        <ul class="navbar-nav me-auto">
          <li class="nav-item"><a href="https://{% endraw %}{{ cookiecutter.wiki_domain }}{% raw %}/wiki/User:{% endraw %}{{ cookiecutter.user_name | replace(' ', '_') }}/{{ cookiecutter.tool_name | replace(' ', '_') }}{% raw %}" class="nav-link">Documentation</a></li>
          <li class="nav-item"><a href="https://toolforge.org/" class="nav-link">Wikimedia Toolforge</a></li>
          <li class="nav-item"><a href="https://gitlab.wikimedia.org/toolforge-repos/{% endraw %}{{ cookiecutter.tool_identifier }}{% raw %}" class="nav-link">Source code</a></li>
        </ul>
        {{ authentication_area() }}
      </div>
    </nav>
    <main id="main" class="container mt-3">
      {% block main %}
      {% endblock main %}
    </main>
  </body>
</html>{% endraw %}
