{% raw %}{% extends "base.html" %}
{% block main %}
{% if name %}
<h1>It’s {{ name }}!</h1>
{% else %}
<h1>It’s an anonymous user!</h1>
{% endif %}
<h2>{{ praise }}</h2>
<form method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <div class="form-group">
    <label for="praise">New praise</label>
    <input id="praise" class="form-control" name="praise" type="text" placeholder="Praise them with great praise!" required>
  </div>
  <button type="submit" class="btn btn-primary">Change</button>
</form>
{% endblock %}{% endraw %}
