SECRET_KEY: "replace this with a long random string"
# APPLICATION_ROOT: /{{cookiecutter.tool_identifier}}/ # only on Toolforge (used for the session cookie path)
oauth:
    consumer_key: ...
    consumer_secret: ...
