decorator
{% if cookiecutter.set_up_flake8 == "True" %}flake8
{% endif %}flask >= 2.0.0
mwapi
mwoauth
{% if cookiecutter.set_up_pytest == "True" %}pytest
{% endif %}{% if cookiecutter.set_up_mypy == "True" %}mypy
{% endif %}PyYAML
requests_oauthlib
toolforge{% if cookiecutter.set_up_mypy == "True" %}
types-decorator
types-PyYAML{% endif %}
