{% if cookiecutter.set_up_flake8 == "True" %}flake8
{% endif %}flask
mwapi
mwoauth
{% if cookiecutter.set_up_pytest == "True" %}pytest
{% endif %}{% if cookiecutter.set_up_mypy == "True" %}mypy==0.670
{% endif %}pyyaml
requests_oauthlib
toolforge
